.menu {
  width: 20px;
  height: 3px;
  background-color: var(--title-color);
  margin: 0.4em;
  transition: 0.5s;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  position: relative;
}

.menu1 {
  transform: rotate(45deg) translate(10px, 2px);
}

.menu2 {
  opacity: 0;
  transition: 0.2s;
}

.menu3 {
  transform: rotate(-45deg) translate(10px, -3px);
}

.active {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

nav {
  position: absolute;
  top: 5em;
  left: 0;
  background-color: var(--body-color);
  box-shadow: 0.1px 3px 5px grey;
  width: 100%;
  transition: 0.2s;
}

nav > ul {
  list-style-type: none;
}

nav li a {
  text-decoration: none;
  padding: 1em;
  display: block;
  text-align: center;
  color: var(--title-color);
  font-family: var(--body-font);
}

nav li a:hover{
    color:var(--first-color);
}

.started{
    border: 2px solid var(--title-color) ;
    width: 30%;
    margin: auto;
    margin-bottom: 1em;
    border-radius: 10px;
}

@media screen and (min-width: 1230px) {
    header{
        padding-left: 7em;
        padding-right: 7em;
    }
   .active{
    opacity: 1;
    visibility: visible;
   }
   #Hamburger{
    display: none;
   }
   nav {
  
    /* background-color: tomato; */
    box-shadow: 0px 0px 0px ;
    top: 1em;
    left: 17em;
    width: 70%;

   }
   nav ul{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-color: burlywood; */
  
   
   }

   nav ul li{
    float: left;
   }

   .started{
    width: 15%;
    margin-bottom: 0;
    margin: 0em;
   }

   .login{
    margin-left: 8em;
   }
  }